<div class="social-app">
  <div class="checkbox">
    <label><input type="checkbox" v-model="show_twitter" v-on:click="twitterHandle(show_twitter)">Twitter</label>
    <label><input type="checkbox" v-model="show_facebook" v-on:click="facebookHandle">Facebook</label>
    <label><input type="checkbox" v-model="show_instagram" v-on:click="instagramHandle">Instagram</label>
  </div>
  <div class="blocks">


    <div class="blocks__block active" v-if="blocks.length > 0" v-for="(block, index) in blocks.slice(0, numberItems)" :ref="block.origin"
      :class="block.origin">

      <a href="" class="blocks__block__link" v-if="block.origin =='instagram' ">
        <div class="blocks__block__img" v-if="block.images.standard_resolution.url" :style="{ backgroundImage: 'url(' + block.images.standard_resolution.url + ')' }"></div>
        <div class="blocks__block__caption__container" v-if="block.caption">
          <p class="blocks__block__caption" v-html="block.newCaption"></p>
        </div>

        <span class="icon icon-instagram"></span>
      </a>

      <a href="" class="blocks__block__link" v-if="block.origin =='facebook' ">
        <div class="blocks__block__img" v-if="block.full_picture" :style="{ backgroundImage: 'url(' + block.full_picture + ')' }"></div>
        <div class="blocks__block__caption__container" v-if="block.newCaption && block.full_picture">
          <p class="blocks__block__caption" v-html="block.newCaption"></p>
        </div>
        <div class="blocks__block__caption__container__big" v-else>
          <p class="blocks__block__caption" v-html="block.newCaption"></p>
        </div>

        <span class="icon icon-facebook"></span>
      </a>


      <a href="" class="blocks__block__link" v-if="block.origin =='twitter' ">
        <div class="blocks__block__img" v-if="block.image" :style="{ backgroundImage: 'url(' + block.image + ')' }"></div>

        <div class="blocks__block__caption__container" v-if="block.newCaption && block.image">
          <p class="blocks__block__caption" v-html="block.newCaption"></p>
        </div>
        <div class="blocks__block__caption__container__big" v-else>
          <p class="blocks__block__caption" v-html="block.newCaption"></p>
        </div>
        <span class="icon icon-twitter"></span>
      </a>

    </div>

  </div>
  <button v-on:click="showMore">Show More</button>

</div>
