<h2>Accordion</h2>
{{> @accordion}}

<h2>Nav</h2>
{{> @nav}}

<h2>Offcanvas</h2>
{{> @offcanvas field="value"}}

    <h2>List Example without using widget ID (New Twitter Change)</h2>
    <div id="exampleList"></div>
    <h2>Profile Example without using widget ID (New Twitter Change)</h2>
    <div id="exampleProfile"></div>
    <h2>User Likes Example without using widget ID (New Twitter Change)</h2>
    <div id="exampleLikes"></div>
